
  
.tarjeta-producto {
    border: 2px solid black;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    height: auto;

    & img{
        width: 100%;
        object-fit: cover;
    }
  
}
  

  
.tarjeta-body {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 0px;
    background-color: white;
    padding-bottom: 10px;
}
  
.boton-tarjeta {
    padding: 10px 8px;
    display: inline-block;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
}
  

  
.product {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    display: inline-block;

    & img{
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    & h2{
        font-size: 1.5rem;
        margin: 0;
        color: #333;
    }

    & .Precio{
        font-size: 1.25rem;
        color: #e74c3c;
        margin-top: 5px;
    }
}








.boton-compra {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover{
        background-color: red; 
    }
    
}



.productos{
    padding-top: 40px;
    padding-bottom: 40px;

    &-index{

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
    margin-bottom: 40px;
   }

   &-autos{
    text-align: center;
    padding-top: 30px;
   }

   &-ferrari{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
   }
}


