footer{
    border-top: 1px solid white;
    background-color: black;
    color: white;


    padding: 1rem;
}

.footer-wrapper{
    display: flex;
}


.footer-redes ul li a{
    color: white;
}

.footer-redes ul li a i{
    font-size: 1.3rem;
}

